/* IMPORTANT
    ----ALIGN-ITEMS REFER TO THE CROSS AXIS OF THE FLEX DIRECTION (ROW OR COLUMN)----
  /* It aligns the boxes near to their sizes rather than all boxes being the same sizes. 
      align-items: flex-start; 
      align-items: center; 
      align-items: flex-end; 
      align-items: stretch; < this is the set by default*/
/* IMPORTANT 
    ----JUSTIFY-CONTENT REFERS TO THE MAIN AXIS OF THE FLEX DIRECTION (ROW OR COLUMN)----
    justify-content: center;
    justify-content: end;

    ROW MAIN AXIS = ---->>>
    ROW CROSS AXIS = | (down)
                     V
    
    COLUMN MAIN AXIS = | (down)
                       V
    COLUMN CROSS AXIS = ---->>>        
 */

body {
  background-color: grey;
  font-family: "Poiret One", cursive;
  max-width: 90%;
  margin: auto;
}

button:focus {
  outline: 0;
}

.myImg {
  width: 40%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px rgba(40, 39, 39, 0.75);
}

/* CONTAINER ONE */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(94.3deg,
      rgba(26, 33, 64, 1) 10.9%,
      rgba(81, 84, 115, 1) 87.1%);
  font-size: 32px;
  color: rgb(189, 189, 189);
  box-shadow: 0px 0px 17px 0px rgba(147, 146, 146, 0.75);
}

/* INSIDE CONTAINER ONE */
.header {
  /* border: yellow solid; */
  text-align: center;
  flex: 3;
  padding-left: 15%;
}

/* INSIDE CONTAINER ONE */
.social-icons {
  align-self: flex-end;
  padding-bottom: 0.5%;
  margin-right: 2%;
}

/* SOCIAL LOGO'S */
.fa-linkedin {
  color: #2385b3;
  font-size: 50px;
}

.fa-github-square {
  color: #333;
  font-size: 50px;
}

.fa-linkedin:hover {
  color: #01bbff;
  font-size: 50px;
}

.fa-github-square:hover {
  color: rgb(0, 0, 0);
  font-size: 50px;
}

/* MENU CONTAINER */
.menu-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(79, 80, 87);
  box-shadow: 0px 0px 17px 0px rgba(147, 146, 146, 0.75);
}

.menuBtn,
.social-btn {
  color: rgb(189, 189, 189);
  padding: 15px 15px;
  margin: 10px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
  cursor: pointer;
  text-align: center;
  background: none;
  border: double rgba(26, 33, 64, 1);
}

.social-btn {
  border: none;
}

.menuBtn:hover {
  color: aqua;
  background: rgb(41, 41, 41);
}

.fas {
  color: rgb(57, 54, 54);
}

.fas:hover {
  color: aqua;
  background: rgb(41, 41, 41);
}

/* CONTAINER-3 */
.desc-cont {
  display: flex;
  background-image: linear-gradient(94.3deg,
      rgba(26, 33, 64, 1) 10.9%,
      rgba(81, 84, 115, 1) 87.1%);
  box-shadow: 0px 0px 17px 0px rgba(147, 146, 146, 0.75);
}

#text,
#current-project,
#work-experince,
#cvDiv {
  text-align: center;
  display: none;
  color: rgb(189, 189, 189);
  padding: 15px 15px;
  margin: 10px;
  /* border: dotted royalblue; */
  font-size: 28px;
  font-family: "Poiret One", cursive;
  flex: 1;
}

#current-project h3,
#workexp-box1 h3,
#workexp-box2 h3 {
  font-weight: bold;
  font-size: 38px;
  color: aqua;
}

#current-project img {
  width: 15%;
}

#work-experince {
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
}

#workexp-box1,
#workexp-box2 {
  box-shadow: 0px 0px 20px 2px black;
  border-radius: 10px;
  padding: 5px;
  margin: 8%;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

#natwestlogo {
height: 80px;
}

#work-experince img {
  width: 15%;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

#cvFrame {
  width: 100%;
  height: 1000px;
}

#cvDiv button {
  color: rgb(189, 189, 189);
  padding: 15px 15px;
  margin: 10px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
  cursor: pointer;
  text-align: center;
  background-color: rgb(79, 80, 87);
  border: double rgba(26, 33, 64, 1);
  box-shadow: 0px 0px 5px 2px rgb(116, 116, 116);
}

#cvDiv form {
  display: inline;
}

#cvDiv button:hover {
  color: aqua;
  background: rgb(41, 41, 41);
}

@media screen and (max-width: 500px) {

  .container {
    flex-direction: column;
    font-size: 20px;
  }

  .header {
    padding-left: 0px;
  }

  .social-icons {
    align-self: center;
    margin-right: 0%;
    padding-bottom: 0%;
  }

  .menu-container {
    display: block;
    padding-left: 5%;
  }

  .menuBtn {
    width: 90%;
  }

  h3,
  i {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }

  #current-project h3,
  #workexp-box1 h3,
  #workexp-box2 h3 {
    font-weight: bold;
    font-size: 24px;
    color: aqua;
  }

  #curent-project {
    padding: 0px 0px;
  }

  #current-project img {
    width: 30%;
  }

  #work-experince {
    margin: 0;
    padding: 0;
  }

  body {
    max-width: 100%;
  }

  #workexp-box1 {
    margin: 5%;
    margin-bottom: 8%;
    margin-top: 8%;
  }

  #workexp-box1 img {
    width: 30%
  }

  #cvFrame {
    width: 100%;
    height: 100%;
  }

}