body {
    background: grey;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  th, td {
    text-align: left;
    padding: 16px;
color: white;
  }
  
  tr:nth-child(even) {
    background-color: #205d2b;
  }


#title {
    color: violet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }