body {
  background-color: grey;
  font-family: "Poiret One", cursive;
}

.container {
  display: flex;
  /* It aligns the boxes near to their sizes rather than all boxes being the same sizes. 
      align-items: flex-start; 
      align-items: center; 
      align-items: flex-end; 
      align-items: stretch; < this is the set by default*/ 

}
.header {
  border: rebeccapurple solid;
  flex: 1;
  order: 1;
}

.menuBar {
  border: springgreen solid;
  flex: 1;
  order: 2;
  /* align-self: flex-end; */
}

.contact-info {
  border: steelblue solid;
  flex: 1;
  order: 3;
}

.container2 {
  display: flex;
  justify-content: space-between;
  
}

.header2 {
  border: yellow solid;
  width: 30%;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-3 {
    flex: 1;
    border: royalblue solid;
    /* width: 10%; */
}

#text {
  visibility: hidden;
}

img {
  width: 10em;
}
