/* IMPORTANT
    ----ALIGN-ITEMS REFER TO THE CROSS AXIS OF THE FLEX DIRECTION (ROW OR COLUMN)----
  /* It aligns the boxes near to their sizes rather than all boxes being the same sizes. 
      align-items: flex-start; 
      align-items: center; 
      align-items: flex-end; 
      align-items: stretch; < this is the set by default*/
/* IMPORTANT 
    ----JUSTIFY-CONTENT REFERS TO THE MAIN AXIS OF THE FLEX DIRECTION (ROW OR COLUMN)----
    justify-content: center;
    justify-content: end;

    ROW MAIN AXIS = ---->>>
    ROW CROSS AXIS = | (down)
                     V
    
    COLUMN MAIN AXIS = | (down)
                       V
    COLUMN CROSS AXIS = ---->>>        
 */

 
body {
  background-color: grey;
  font-family: "Poiret One", cursive;
  max-width: 90%;
  margin: auto;
}

.myImg {
  width: 40%;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
  font-size: 32px;
  color: rgb(189, 189, 189);
}

.header {
  /* border: yellow solid; */
  text-align: center;
  flex: 3;
  padding-left: 15%;

}
.social-icons {
  align-self: flex-end;
  padding-bottom: 0.5%;
  margin-right: 2%;
}

/* SOCIAL LOGO'S */
.fa-linkedin {
  color: #2385b3;
  font-size: 50px;
 }
 
 .fa-github-square {
   color: #333;
   font-size: 50px;
  }

.fa-linkedin:hover {
    color: #01bbff;
    font-size: 50px;
   }
  
   .fa-github-square:hover {
    color: rgb(0, 0, 0);
    font-size: 50px;
   }

  
.menu-container {
  /* border: chocolate solid; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color:rgb(79, 80, 87)
}

.menuBtn, .social-btn {
  color: rgb(189, 189, 189);
  padding: 15px 15px;
  margin: 10px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
  cursor: pointer;
  text-align: center;
  background: none;
  border:double rgba(26, 33, 64, 1)

}

.social-btn {
  border: none;
}


.menuBtn:hover {
  color: aqua;
  background: rgb(41, 41, 41);
}

.fas {
  color: rgb(57, 54, 54)
}

.fas:hover {
  color: aqua;
  background: rgb(41, 41, 41);
} 


